.buttons {

	&__create {
		width: 100%;
		background-color: $primary-background;
		color: $primary-text;
		border-style: solid;
		height: 100px;
		border-radius: 100px;
		cursor: pointer;
		font-size: 48px;
	}

}
