.display {
	display: flex;
	justify-content: space-around;
	align-items: center;
	&__option, &__colon {
		flex: 1 1 auto;
		width: 50px;
		text-align: center;
		font-size: 48px;
	}
	&__option {
		background-color: $primary-background;
		color: $primary-text;
		padding: 0;
		border: none;
	}
}
