/* Color Pallette */

// Background
$primary-background: #002b36;
$secondary-background: #fdf6e3;

// Text
$primary-text: #fdf6e3;
$secondary-text: #002b36;

// Borders
$success-green: #3d8e32;
$fail-red: #af2626;

// Font
$primary-font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
